<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- registra %clr e outros converters do Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="PATTERN_DEV"
              value="%clr(%d{HH:mm:ss.SSS}){faint} %clr([%thread]){magenta} %clr(%-5level){highlight} %clr(%logger{36}){cyan} - %msg%n"/>

    <property name="PATTERN_PROD"
              value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>

    <!-- ==================== DEV ==================== -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN_DEV}</pattern>
            </encoder>
        </appender>

        <logger name="com.aque" level="INFO"/>
        <logger name="org.flywaydb" level="INFO"/>
        <logger name="org.springframework.jdbc" level="INFO"/>
        <logger name="org.hibernate.SQL" level="INFO"/>
        <logger name="org.springdoc" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- ==================== TEST ==================== -->
    <springProfile name="test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN_DEV}</pattern>
            </encoder>
        </appender>

        <logger name="com.aque" level="DEBUG"/>
        <logger name="org.flywaydb" level="INFO"/>

        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- ==================== PROD ==================== -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN_PROD}</pattern>
            </encoder>
        </appender>

        <logger name="com.aque" level="INFO"/>
        <logger name="org.flywaydb" level="INFO"/>

        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>